*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1:#01B0F1;
    --color2:#ffff;
    --color3:#00101F;
    --font1: 'Montserrat', sans-serif;

}

body{


    background-image: url(imgs/bg.png);
}

.txt_acessoadm{

    color: var(--color2);

}

.subtexto{

    color: var(--color2);
}