body{
    
    background-image: url(imgs/bg.png);
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;

    
width: 578px;
height: 182px;
left: 80px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 91px;

color: #FFFFFF;
    
 

}

